# Ignore build and compiled files
bin/
out/
*.o
*.a
*.exe

# Ignore CLion files
.idea/

# Ignore CMake files
CMakeLists.txt.user
CMakeLists.txt
CMakeFiles/
cmake-build-debug/
cmake-build-release/

# Ignore system files
.DS_Store
Thumbs.db
